/* I footer container för tre divar information/paymeny/contact*/

footer {
  color: var(--caffe-mocha);
}

.contact-info {
  height: 36rem;
  background-color: var(--latte-macchiato);
  margin-bottom: 0.125rem;
  padding: 1rem 1rem 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .contact-info {
    height: 21.5rem;
    padding: 3.25rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  .newsletter {
    order: 1;
  }

  .info-naturally {
    order: 0;
  }

  .contact {
  }
}

.bottom-email-input-field {
  width: 100%;
  max-width: 24.75rem;
  border-radius: 48px;
  height: 2.5rem;
  margin: auto;
  margin-top: 0.75rem;
  display: block;
  border: none;
  padding-left: 30px;
}

.footer-sm-icons {
  padding: 1.5rem 3.7rem 2.25rem 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: invert(100%);
}

@media screen and (min-width: 768px) {
  .footer-sm-icons {
    padding: 1.5rem 1rem 2.25rem 1rem;
  }
}

/* Allra längst ner i footer: payment-grejer*/
.payment {
  height: 5.375rem;
  padding: 1rem 1.75rem 0rem 1.75rem;
  background-color: var(--latte-macchiato);
  display: flex;
  justify-content: center;
  gap: 3.2%;
}

.payment > div img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .payment {
    height: 6.25rem;
    padding: 1rem 2rem 0rem 2rem;
  }
}
