:root {
  --latte-macchiato: #eae6e1;
  --cappuccino: #cfc5b6;
  --caffe-correto: #837561;
  --caffe-mocha: #492f11;
  --espresso: #150c01;
  --white: #ffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  margin: 0;
}
