/*All of this is for the hamburger-menu*/
@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
    float: left;
  }

  .nav-menu {
    position: fixed;
    width: 19rem;
    /* height: 34.8rem; */
    left: -100%;
    top: 1rem;

    z-index: 50;
    flex-direction: column;
    text-align: center;
    transition: 0.4s ease-in-out;
    background-color: var(--latte-macchiato);
    display: flex;
    gap: 0;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 3rem;
    margin: 0.17rem;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
  }
  .nav-menu.active {
    left: 0;
  }

  .logo-hamburger {
    display: flex;
  }

  .hamburger-contact {
    display: flex;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
  }

  .img-container-hamburger {
    display: flex;
    align-items: center;
    min-height: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-top: 2.25rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
  }

  .hamburger-menu-active {
    /* width: 58px; */
    height: 52px;
    width: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-active {
    display: block;
    transition: 0.5s ease-out;
    cursor: pointer;
  }
}

/* Hamburgar-menyn, pop-in */
