@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600&display=swap");

.info h1 {
  font-size: var(--h1-inter-regular-mobile);
  text-align: center;
  font-weight: 400;
}

.info p {
  font-size: var(--P1-inter-regular-mobile);
  font-family: "source serif 4";
}

.info h2 {
  font-size: var(--h2-inter-regular-mobile);
  font-weight: 400;
}
