/* I footer container för tre divar information/paymeny/contact*/

footer {
  color: var(--caffe-mocha);
}

.contact-info {
  height: 36rem;
  background-color: var(--latte-macchiato);
  margin-bottom: 0.125rem;
  padding: 1rem 1rem 0rem 1rem;
}

.bottom-search {
  width: 100%;
  max-width: 24.75rem;
  border-radius: 48px;
  height: 2.5rem;
  margin: auto;
  display: block;
  border: none;
  padding-left: 30px;
}

.footer-sm-icons {
  padding: 1.5rem 3.7rem 2.25rem 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: invert(100%);
}
/* Allra längst ner i footer payment-grejer*/
.payment {
  height: 5.375rem;
  padding: 1rem 1.75rem 0rem 1.75rem;
  background-color: var(--latte-macchiato);
  display: flex;
  justify-content: space-between;
}

/* I footer container för tre divar information/paymeny/contact + 1 div för att hålla sociala medier-ikoner*/
