/* nav-bar*/
.navbar {
  width: 26.75rem;
  height: 5rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navlink {
  transition: 0.6s ease;
}
.navlink:hover {
  color: blue;
}

.hamburger-menu {
  overflow: hidden;

  cursor: pointer;
}

.bar {
  display: block;
  width: 1.6rem;
  height: 0.1rem;
  margin: 0.5rem;
  transition: 0.3s ease-out;
  background-color: white;
}
