:root {
  --h1-inter-light: 64px;
  --h1-inter-regular: 92px;
  --h2-inter-semi-bold: 40px;
  --h2-inter-regular: 36px;
  --h3-inter-regular: 32px;
  --h3-inter-medium: 36px;
  --h4-source-serif-semibold: 32px;
  --P1-source-serif-regular: 32px;
  --P2-source-serif-medium: 28px;
  --CTA-inter-medium: 24px;
  --CTA-big-inter-medium: 32px;
  --P1-inter-regular: 24px;

  --h1-inter-regular-mobile: 44px;
  --h1-inter-light-mobile: 36px;
  --h2-inter-semibold-mobile: 24px;
  --h3-inter-medium-mobile: 16px;
  --h2-inter-regular-mobile: 16px;
  --P1-inter-regular-mobile: 12px;
  --CTA-inter-medium-mobile: 16px;
  --CTA-inter-big-mobile: 20px;

  --latte-macchiato: #eae6e1;
  --cappuccino: #cfc5b6;
  --caffe-correto: #837561;
  --caffe-mocha: #492f11;
  --espresso: #150c01;
  --white: #ffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Inter";
}

body {
  width: 100vw;
  margin: 0;
}

/* Behållare för ikonerna i nav-bar och footer*/
.icon-container {
  min-width: 1%;
  width: auto;
}

.icon-container img {
  object-fit: cover;
  object-position: center;
}

/* Hero-sektionen*/
.hero {
  height: 26.75rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.hero-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem 1rem 0rem 1rem;
  position: absolute;
}

.hero-text {
  width: auto;
}

.hero-container .icon-container {
  justify-self: end;
}

.hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Naturally pop-up event*/
.info {
  height: auto;
  padding: 1.25rem 1rem 1.25rem 1rem;
  background-color: var(--latte-macchiato);
  color: var(--caffe-mocha);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Email-input field in naturally-pop-up*/
.email-input-field {
  width: 96%;
  max-width: 23.75rem;
  border-radius: 48px;
  height: 2.5rem;
  border: none;
  text-align: center;
}

/* Nyheter + sidoscroller*/
.news {
  height: 20.75rem;
  background-color: white;
  /*   display: flex;
  align-items: flex-end; */
  display: grid;
  grid-template: 6.5rem 14.25rem / 100%;
}

.news-banner {
  color: var(--espresso);
}

/* Linjerna kring "Nyheter" */
.news-banner h1:before {
  content: "";
  display: block;
  width: 31.5%;
  height: 2px;
  background: var(--espresso);
  left: 0;
  top: 50%;

  /*position: absolute mot h1-taggen för att kunna måtta in linjer från sidan mot texten. */
  position: absolute;
}

.news-banner h1:after {
  content: "";
  display: block;
  width: 31.5%;
  height: 2px;
  background: var(--espresso);
  right: 0;
  top: 50%;

  /*Samma här*/
  position: absolute;
}

/* Bildbehållare med sidoscrollsfuktion */
.products-slider {
  height: 14.25rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5rem;
}

.product-image-container {
  /*   height: 14.25rem;*/
  width: 10.625rem;
  flex: 0 0 auto;
  background-color: #eae6e1;
  position: relative;
}

/* Container för de två klädes-plaggen*/
.clothes-container {
  margin-top: 1.25rem;
  padding: 0rem 1rem 0rem 1rem;
  /*   display: flex;
  justify-content: space-between; */
  /*   align-items: center;
  flex-direction: column; */
  max-height: 65.75rem;
  display: grid;
  grid-template: 32.5rem 32.5rem / auto;
  gap: 0.75rem;
  text-align: center;
}

.grid-container h1 {
  font-size: var(--h1-inter-light-mobile);
  font-weight: 300;
}

.grid-container {
  position: relative;
}

.button-clothes {
  width: 9.6rem;
  height: 2.75rem;
  font-size: var(--CTA-inter-big-mobile);
  color: var(--espresso);
  border-radius: 2.5rem;
  /* border: none;
  background-color: var(--cappuccino); */
  background-color: white;
  font-weight: 300;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

/* Två klädesplagg-lådorna*/
.grid-container {
  width: 100%;
  height: 32.5rem;
  align-self: center;
  /* margin: 0rem 1rem 0rem 1rem; */
  background-color: #eaeaea;
}

/* Text ide-spruta*/
.text {
  height: auto;
  background-color: var(--latte-macchiato);
  color: var(--espresso);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.25rem 1rem 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-text {
  width: 11rem;
  height: 2.75rem;
  font-size: var(--CTA-inter-big-mobile);
  color: var(--espresso);
  border-radius: 2.5rem;
  background-color: white;
  font-style: 300;
}

/* @media screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }
} */
